.banner-text {
  font-size: 20px;
}

.banner-sub-text {
  font-size: 15px;
}

.play-store {
  margin-right: 5px;
}


.banner-button {
  img {
    max-width: 220px;
    max-height: 70px;
    width: auto;
    height: auto;
  }
}

.banner-wallet {
  img {
    width: 70%;
    height: 70%;
  }
}
