.banner-text {
  font-size: 20px;
  margin-top: -25px;
}

.banner-sub-text {
  font-size: 15px;
}

.play-store {
  margin-right: 5px;
}


.banner-button {
  img {
    width: 220px;
    height: 70px;
  }
}

.banner-wallet {
  img {
    width: 70%;
    height: 70%;
  }
}
