.banner {
  &-text {
    font-size: 20px;
    color: var(--color-text-hero) !important;
  }

  &-sub-text {
    font-size: 15px;
    color: var(--color-text-hero) !important;
  }
}

.play-store {
  margin-right: 5px;
}


.banner-button {
  img {
    max-width: 220px;
    max-height: 70px;
    width: auto;
    height: auto;
  }
}

.banner-wallet {
  img {
    width: 70%;
    height: 70%;
  }
}
