.ant-card {
  background: var(--color-primary-card) !important;
  color: var(--color-text-card-title) !important;
}

.card-summary {
  margin-bottom: 20px !important;
}

.badge-black {
  padding-left: 24px !important;
  z-index: 0;

  .ant-badge-count {
    font-weight: 700;
    background: var(--color-primary-light);

    p {
      margin-bottom: 0 !important;
    }
  }
}
