.container {
  width: 100%;
  padding: 0 8px 0 8px !important;
  margin-right: auto;
  margin-left: auto;
}

.container-fuild {
  width: 100%;
  padding: 0 8px 0 8px;
  margin-right: auto;
  margin-left: auto;
}
