.container {
  width: 100%;
  padding: 0 8px 0 8px;
  margin-right: auto;
  margin-left: auto;
}

@include mq-xl {
  .container {
    max-width: 1330px !important;
  }
}

@include mq-xxl {
  .container {
    max-width: 1500px !important;
  }
}
