.error-content {
  width: 600px;
  margin: auto;
  img {
    width: 100%
  }
  &-page {
    width: 900px;
    img {
      width: 45%
    }
  }
}

.error-boundary {
  color: var(--gray) !important;
  text-align: center;
  padding-top: 30px;
}
