.header {
  width: 100%;
  position: relative;
  background: var(--color-secondary-dark) !important;

  .ant-menu-dark {
    background: var(--color-secondary-dark);

    .ant-menu-item-selected {
      background-color: transparent !important;
      font-weight: 600;
      a {
        color: var(--color-primary-light) !important;
        &:hover {
          color: var(--color-primary-light) !important;
        }
      }
    }
  }

  .ant-input {
    padding-left: 42px !important;
  }

  .ant-input-lg {
    width: 300px !important;
  }

  .header-content {
    display: flex;
    align-items: center;
    .logo {
      display: flex;
      align-items: center;
      img {
        width: 32px;
        height: 36px;
      }
    }

    .navbar-left {
      flex: 1;
    }

    .navbar-right {
      display: flex;
      justify-content: flex-end;
      margin-left: 24px;
    }
  }

  .header-logo-name {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 900;
    margin-left: 16px;
    color: var(--color-white);
    width: 82px;
    height: 29px;
    margin-top: 18px;
    margin-bottom: 19px;
  }

  .header-search-input {
    width: 350px;
  }

  .menu-with-icon {
    color: var(--color-secondary-light);
    font-size: 14px;

    a {
      color: var(--color-secondary-solitude) !important;
    }

    a:focus {
      color: var(--color-primary-light);
    }
  }
}
