.default-layout {
  min-height: calc(100vh - 380px) !important;
  padding-top: 50px;
  background: var(--color-secondary-solitude) !important;
}

.home-content {
  display: block !important;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 64px;
  padding-right: auto;
  padding-left: auto;
  margin-top: 32px;
}
