.overview-list {
  .ant-list-item {
    border-bottom: none !important;
    a {
      color: var(--color-primary-light);
    }
    &:nth-child(odd) {
      background: var(--color-secondary-solitude);
    }
  }
  margin-bottom: 20px !important;
}
