.pagination-center {
  text-align: center;
  padding: 20px !important;
  display: flex;
  justify-content: center;
}

.ant-pagination-item {
  background-color: var(--color-primary-card) !important;
  color: var(--color-text-card-title) !important;
}

.ant-pagination-item-link {
  background-color: var(--color-primary-card) !important;
  color: var(--color-text-card-title) !important;
}

.ant-pagination-total-text {
  color: var(--color-text-card-title) !important;
}

.ant-pagination-options-quick-jumper {
  color: var(--color-text-card-title) !important;
}
