.ant-table-thead {
  .ant-table-column-title {
    font-weight: 700
  }
  tr > th {
    border-bottom: 0 !important
  }
}

.ant-table-tbody {
  .ant-table-row {
    &:nth-child(odd) {
      background: var(--color-secondary-solitude);
    }
    td {
      border-bottom: 0;
    }
  }
}

.ant-table-small {
  border: 0 !important;
  a {
    color: var(--color-primary-light);
  }
}

.ant-table-wrapper {
  overflow-x: auto;
}

.blocksmith {
  .ant-badge-status-dot {
    height: 10px;
    width: 10px;
  }
}
