.header {
  width: 100%;
  position: relative;
  background: $black !important;

  .ant-menu-dark {
    background: $black;

    .ant-menu-item-selected {
      background-color: transparent !important;
      font-weight: 600;
    }
  }

  .ant-input {
    padding-left: 42px !important;
  }

  .ant-input-lg {
    width: 300px !important;
  }

  .header-content {
    display: flex;
    align-items: center;
    .logo {
      img {
        width: 32px;
        height: 36px;
      }
    }

    .navbar-right {
      margin-left: 24px;
    }
  }

  .header-logo-name {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 900;
    margin-left: 16px;
    color: $white;
    width: 82px;
    height: 29px;
    margin-top: 18px;
    margin-bottom: 19px;
  }

  .header-search-input {
    width: 350px;
  }

  .menu-with-icon {
    color: $nepal;
    font-size: 14px;

    a {
      color: $grey;
    }

    a:focus {
      color: $blue;
    }
  }
}
