.hero {
  position: relative;
  width: 100%;
  margin-bottom: 50px !important;

  &-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    text-align: center;

    .ant-input {
      padding-left: 50px !important;
    }
  }

  &-subtitle {
    margin-top: 15px
  }
}
