.nodes-row {
  margin: 64px 0 32px 0;
}

.nodes-card {
  border-radius: 4px !important;
}

.page-title {
  color: var(--color-text-card) !important;
}

.table {
  color: var(--color-primary-dark-txt) !important;
}
