.footer {
  width: 100%;
  position: relative;
  background-color: var(--color-primary-bg);

  a {
    color: var(--color-primary-light-txt);
    &:hover {
      text-decoration: none;
      color: var(--color-primary-light-txt);
    }
  }

  .footer-body {
    width: 100%;
    padding-top: 36px;
    padding-bottom: 41px;
  }

  .btn-switch {
    margin-top: 6px;
  }

  .footer-social-icons {
    position: relative;
    margin-left: auto;
  }

  .footer-ext {
    padding-left: 15px;
  }

  .footer-social-icon {
    color: var(--color-primary-light-ic);
    font-size: 24px;
    margin-right: 30px;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
  }

  .footer-subtitle {
    color: var(--color-primary-light-txt);
    font-size: 16px;
    font-weight: 600;
    line-height: 1.4;
    margin: 0 0 15px;
  }

  .text-white {
    color: var(--color-primary-light-txt);
  }

  .heading-border {
    position: relative;
  }

  .footer-list-group {
    padding-left: 0;
    flex-direction: column;
    display: flex;
  }

  .footer-list-group-item {
    font-size: 12px;
    margin: 2px -10px;
    padding: 3px 10px;
    color: var(--color-secondary-link-text);
  }

  .footer-socialmedia {
    i {
      font-size: 1.2rem;
    }
  }

  .footer-nav {
    a {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
    }
  }

  .company-logo {
    img {
      max-width: 200px;
    }
  }

  .footer-collapse {
    .fa-angle-down {
      &.transform-icon {
        transform: rotateX(180deg);
      }
    }
    .footer-social-icons {
      i {
        font-size: 1.5rem;
      }
    }
    a {
      font-size: 1rem;
      margin: 5px 0 5px 0;
    }
    p {
      font-size: 1rem;
    }
  }
}
