.block-row {
  margin: 64px 0 32px 0;
}

.block-card {
  border-radius: 4px !important;
  margin-top: 32px !important;
  font-weight: initial;

}

.block-card-title {
  font-weight: 700;
}

.block-collapse {
  margin-top: 32px !important;
  border-radius: 4px !important;
  vertical-align: middle;
  background: var(--color-primary-card) !important;
  border: 0;
}

.ant-collapse-content-box {
  padding-top: 0px !important;
}
