.account-row {
  margin: 64px 0 32px 0;
}

.account-card {
  border-radius: 4px !important;
  margin-top: 32px !important;
}

.account-title {
  font-size: 22px;
  font-weight: 700;
}

.account-card-title {
  font-weight: 700;
}

.ant-table-placeholder {
  z-index: auto !important;
}

