.header {
  z-index: 1;
  width: 100%;
  top: 0;
  left: 0;
  padding: 0 !important;
  position: fixed !important;
  background-color: var(--color-primary-bg) !important;

  .ant-menu-dark {
    background-color: var(--color-primary-bg);
  }

  .ant-menu-item-selected {
    a {
      color: var(--color-primary-light) !important;
      &:hover {
        color: var(--color-primary-light) !important;
      }
    }
  }

  .ant-menu-dark.ant-menu-horizontal > .ant-menu-item {
    top: 0 !important;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
  }

  .ant-input {
    background-color: var(--color-secondary-bg);
    padding-left: 36px !important;
    // font-size: 45px;

  }

  .ant-btn > span {
    text-transform: uppercase;
  }

  .ant-btn-primary {
    border-color: var(--color-border-btn) !important
  }
}

.fixed-header {
  width: 100vw;
}

.header-search-icon {
  font-size: 16px;
  color: var(--color-search-ic) !important;
}

.header-search-input {
  width: 100% !important;
  vertical-align: middle;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

.header-menu {
  padding-right: 0px;
}

.header-logo-name {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 900;
  margin-left: 8px;
  color: var(--color-white);
  width: 82px;
  height: 29px;
  margin-top: 18px;
  margin-bottom: 19px;
}

.header-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  vertical-align: middle;
  .logo {
    display: flex;
    align-items: center;
    img {
      width: 32px;
      height: 36px;
    }
  }

  .navbar-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    text-align: center;
  }

  .navbar-right {
    width: 291px;
    display: flex;
    justify-content: space-around;
    margin-left: auto;
  }
}

.menu-with-icon {
  color: var(--color-secondary-light);
  font-size: 14px;

  a {
    color: var(--color-secondary-solitude) !important;
  }

  a:focus {
    color: var(--color-primary-light);
  }
}
