.transaction-row {
  margin: 64px 0 32px 0;
}

.transaction-card {
  border-radius: 4px !important;
  margin-top: 32px !important;
}


.transaction-title {
  font-size: 22px;
  font-weight: 700;
}

.transaction-card-title {
  font-weight: 700;
}
