#account-details {
  table {
    tr {
      td {
        word-break: break-all;
        word-wrap: break-word;
        font-size: 12px;
      }
      th {
        font-size: 12px;
      }
    }
  }
}
