/** Components style **/
@import './components/card';
@import './components/coming-soon';
@import './components/container';
@import './components/error';
@import './components/feedback-form';
@import './components/hero';
@import './components/layout';
@import './components/list';
@import './components/loader';
@import './components/pagination';
@import './components/table';
@import './components/banner';
