.map-legend {
  height: 10px;
  list-style: none;
}

.map-legend li {
  display: inline-block;
  margin-left: 15px;
}

.map-legend li .green {
  background: green;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  display: inline-block;
  vertical-align: sub;
  margin-right: 5px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}

.map-legend li .red {
  background: red;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  display: inline-block;
  vertical-align: sub;
  margin-right: 5px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}

.map-legend li .black {
  background: black;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  display: inline-block;
  vertical-align: sub;
  margin-right: 5px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}

.leaflet-container {
  height: 450px;
  width: 100%;
}
