// Variable overrides
$font-family-base: 'Montserrat', sans-serif;

$font-family-code: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;

$light-grey: #e9ecef;
$grey: #F0F2F5;
$white: #fff;
$blue: #3399cc;
$nepal: #92ADBF;
$black: #0B3D65;
$black1: #3A4347;
$pink: #e44fe4;
