.announcement {
  width: 100%;
  height: 42px;
  top: 0;
  z-index: 99;
  position: fixed;
  background-color: #b50020;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 0 16px;
  text-align: center;
}
